*{
    margin: 0px 0px 0px;
    padding: 0px 0px 0px;
    box-sizing:border-box;
    border: 0px 0px 0px;
}

html{
    padding: 0px 0px 0px;
    margin: 0px 0px 0px;
}
body{
    margin-right: 0px;
    padding-right: 0px;
    border: 0px 0px 0px;
}

header{
    text-align:center ;
    background-color: #b4423c;
    margin: 0px 0px 0px;
}

nav{
    padding: 0px 0px;
}

.d-block{
    height: 100vh;
    width: 100%;
}




hr{
    margin: 0px 0px;
}

main{
    background-color: #1B5047;
}


ul{
    list-style: none;
    display:flex;
    text-align:center;
    margin: 0px 0px 0px;
    padding: 0px 0px 0px;
    border: none;
}

.col-3{
    padding: 0px 0px 0px;
    max-width: 350px;
}


a{
    text-decoration: none;
    text-align: center;
    color: black;
}

p{
    text-align: center;
    color: white;
}

.container-fluid{
    display: flex;
}



footer{
    background-color: #2f4f4f;
}

.footer{
    display: flex;
}

.titulos{
    text-align: center;
}

.indie{
    display:inline-block ;
    
}


.informacion{
    text-align: justify ;
}

.contenedor{
    display:flex;
    tab-size: 50%;
}



.escuchado{
    display: flex;
    align-items: center;
}

.escuchado-p{
    width: 50%;
}



.novedades{
    display: flex;
}

article p{
    width: 50%;
}

.tabla{
    width: 70%;
}


.oswald-h1 {
  font-family: "Oswald", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}


.josefin-sans-p {
  font-family: "Josefin Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}



