@media only screen and (max-width:767px){
    .cavetown{
        display: none !important;
    }
    .p-indie{
        text-align: center;
    }
    .d-block{
        height: 50vh;
    }
    .mychemical{
        display: none !important;
    }
    .noticias-img{
        display: none !important
    }
    .decoracion{
        display:  none !important;
    }
}


@media only screen and (min-width: 768px) and (max-width: 991px){
    .col{
        display: flexbox;
    }
    .ultimas-reseñas{
        justify-items: right;
        padding: 0px 0px 0px;
        margin: 0px 0px 0px;
    }
    .escuchado{
        padding: 0px 0px 0px;
        margin: 0px 0px 0px;
        padding-left: 20px;
    }
    .cavetown{
        width: 80%;
        height: 70%;
    }
    .p-indie{
        align-content: normal;
        text-align: center;
    }
    .mychemical{
        width: 100%;
        height: 70%;
    }

}

@media only screen and (min-width:992px){
    .contenedor-index{
        display: flexbox;
    }
    #ultimas.col{
        flex-direction: column;
    }
    .cavetown{
        height: 100%;
        width: 70%;
    }
    .p-indie{
        align-content: normal;
        text-align: center;
    }
    .mychemical{
        width: 100%;
        height: 80%;
    }
}